In [92]:
%load_ext autoreload
%autoreload 2
%matplotlib widget

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sds

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [93]:
from dhdrnet.util import ROOT_DIR
from dhdrnet.vis_util import get_metric_cat_groups

In [94]:
ev_categories = {ev_max:np.linspace(-ev_max,ev_max,5) for ev_max in range(4,8)}

mse_df = pd.read_csv(ROOT_DIR/"precomputed_data"/"train.stats.csv") \
    .set_index("name")


metric_cats = get_metric_cat_groups(mse_df, ev_categories)
mse_df = mse_df.groupby(metric_cats["mse"],axis=1).get_group(4.0)

In [110]:
mse_df

                           mse_4.0  mse_-4.0  mse_-2.0   mse_2.0
name
0382_20150919_124536_450  0.000317  0.000420  0.000339  0.000545
0830_20151121_134712_827  0.000418  0.000784  0.000645  0.000524
5a9e_20150328_163715_895  0.000169  0.000172  0.000179  0.000131
J6ZC_20150408_182800_017  0.000204  0.000209  0.000168  0.000203
0919_20150906_125058_289  0.000330  0.000517  0.000352  0.000383
...                            ...       ...       ...       ...
0155_20160821_143956_034  0.000956  0.001347  0.001090  0.000955
4KK2_20150907_115116_975  0.000189  0.000471  0.000281  0.000199
4WBR_20150502_154340_499  0.000769  0.000654  0.000792  0.000622
33TJ_20150607_025432_064  0.000109  0.000120  0.000113  0.000108
0047_20160531_115655_122  0.000458  0.000553  0.000644  0.000562

[2906 rows x 4 columns]

In [105]:
mse_np = np.array(mse_df)
mse_np = np.sort(mse_np,axis=1)
R = mse_np / (mse_np[:, 0, np.newaxis])

<ipython-input-105-4c9b7baa76c3>:3: RuntimeWarning: divide by zero encountered in true_divide
  R = mse_np / (mse_np[:, 0, np.newaxis])
<ipython-input-105-4c9b7baa76c3>:3: RuntimeWarning: invalid value encountered in true_divide
  R = mse_np / (mse_np[:, 0, np.newaxis])

In [55]:
mse_df.sort_values(by="nam)

,mse_4.0,mse_-4.0,mse_-2.0,mse_2.0
name,,,,
0006_20160721_163256_525,0.001029,0.000927,0.001067,0.001051
0006_20160721_170707_736,0.000607,0.000706,0.000633,0.000741
0006_20160721_172953_515,0.002060,0.001816,0.001988,0.002174
0006_20160721_175239_909,0.000352,0.000450,0.000355,0.000572
0006_20160721_175246_335,0.000945,0.000993,0.001015,0.001061
...,...,...,...,...
synthetic_bullseye_hawk_night_motion_blur,0.001523,0.001262,0.001376,0.001389
synthetic_lines_day,0.000615,0.002404,0.002623,0.000554
synthetic_lines_day_motion_blur,0.000615,0.002404,0.000554,0.002623
synthetic_lines_night_motion_blur,0.011199,0.000152,0.005722,0.000121
synthetic_points_hawk_day_motion_blur,0.000188,0.000104,0.000172,0.000182

In [111]:
np.unravel_index(np.argmin(mse_np),mse_np.shape)

(2231, 0)

In [116]:
mse_df.where(mse_df == 0.0).dropna()

Empty DataFrame
Columns: [mse_4.0, mse_-4.0, mse_-2.0, mse_2.0]
Index: []

In [117]:
mse_df.iloc[2231]

mse_4.0     0.000835
mse_-4.0    0.000000
mse_-2.0    0.001139
mse_2.0     0.001020
Name: 0006_20160723_152642_719, dtype: float64

In [126]:
from dhdrnet.util import DATA_DIR

imn4 = plt.imread(DATA_DIR/"0006_20160723_152642_719_ev-4.0.png")
im_merged =plt.imread(DATA_DIR/"merged"/"0006_20160723_152642_719.png")
plt.figure()
plt.imshow(10* imn4 - im_merged)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Clipping input data to the valid range for imshow with RGB data ([0..1] for floats or [0..255] for integers).

In [124]:

plt.figure()
plt.imshow(im_merged)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …