In [11]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [12]:
import pandas as pd

from dhdrnet.util import DATA_DIR, ROOT_DIR

figdir = ROOT_DIR / "figures"

In [13]:
import re

df = (
    pd.read_csv(
        ROOT_DIR / "precomputed_data" / "store_test_2020-10-18.csv", index_col=0
    )
    .drop(columns="ev1")
    .rename(columns={"ev2": "ev"})
)

# p = re.compile(r"([0-9.]+)")
# mask = df["metric"] == "perceptual"
# df.loc[mask, "score"] = df.loc[mask, "score"].transform(lambda s: p.search(s).group(0))
# df["score"] = pd.to_numeric(df["score"])
df

          ev                      name      metric      score
0      -3.00  0030_20151008_105249_589        rmse   0.427176
1      -3.00  0030_20151008_105249_589        psnr  12.038237
2      -3.00  0030_20151008_105249_589        ssim   0.651422
3      -3.00  0030_20151008_105249_589  perceptual   0.185599
4      -2.75  0030_20151008_105249_589        rmse   0.430278
...      ...                       ...         ...        ...
104251  5.75  0043_20160923_122514_781  perceptual   0.138072
104252  6.00  0043_20160923_122514_781        rmse   0.269203
104253  6.00  0043_20160923_122514_781        psnr  15.912795
104254  6.00  0043_20160923_122514_781        ssim   0.886586
104255  6.00  0043_20160923_122514_781  perceptual   0.145742

[104256 rows x 4 columns]

In [14]:
grouped = df.set_index("name").groupby(["metric"])
grouped.describe()["score"][["mean", "std", "min", "max"]]

                 mean       std       min        max
metric
perceptual   0.174813  0.137990  0.001377   0.739665
psnr        16.649449  5.866571  6.055987  46.294897
rmse         0.342297  0.228548  0.021250   0.968959
ssim         0.741994  0.258261  0.014630   0.997509

In [15]:
idxmins = (
    df[(df["metric"] == "perceptual") | (df["metric"]  == "rmse")]
    .groupby(["name", "metric"])["score"]
    .idxmin()
)
best_scores_min = df.loc[idxmins]
best_scores_min
#this is the minimum score for each metric for each image
# unfortunately we want min for mse and perceptual
# and maxes for psnr, ssim

         ev                      name      metric     score
37807  2.00  0006_20160721_170707_736  perceptual  0.038250
37824  3.25  0006_20160721_170707_736        rmse  0.084428
57691  2.75  0006_20160721_175239_909  perceptual  0.049853
57704  3.75  0006_20160721_175239_909        rmse  0.066834
75839  3.00  0006_20160721_181525_062  perceptual  0.047218
...     ...                       ...         ...       ...
82460  3.00  c483_20150901_195108_436        rmse  0.140176
11743  2.00  c483_20150901_214630_530  perceptual  0.043168
11756  3.00  c483_20150901_214630_530        rmse  0.067147
12047  3.00  c483_20150901_221141_886  perceptual  0.069003
12052  3.50  c483_20150901_221141_886        rmse  0.073600

[1448 rows x 4 columns]

In [16]:
idxmaxs = (
    df[(df["metric"] == "psnr") | (df["metric"] == "ssim")]
    .groupby(["name", "metric"])["score"]
    .idxmax()
)
best_scores_max = df.loc[idxmaxs]
best_scores_max

         ev                      name metric      score
37825  3.25  0006_20160721_170707_736   psnr  26.034759
37810  2.25  0006_20160721_170707_736   ssim   0.974577
57705  3.75  0006_20160721_175239_909   psnr  28.224683
57698  3.25  0006_20160721_175239_909   ssim   0.964812
75853  4.00  0006_20160721_181525_062   psnr  26.326447
...     ...                       ...    ...        ...
82466  3.25  c483_20150901_195108_436   ssim   0.977038
11757  3.00  c483_20150901_214630_530   psnr  28.184680
11750  2.50  c483_20150901_214630_530   ssim   0.975475
12053  3.50  c483_20150901_221141_886   psnr  27.552971
12046  3.00  c483_20150901_221141_886   ssim   0.954295

[1448 rows x 4 columns]

In [24]:
best_scores_min.groupby("metric").describe()["score"][["mean", "std"]]

                mean       std
metric
perceptual  0.048529  0.023467
rmse        0.090296  0.037250

In [25]:
best_scores_max.groupby("metric").describe()["score"][["mean", "std"]]

             mean       std
metric
psnr    26.828798  4.399705
ssim     0.967530  0.015906

In [19]:
df.loc[df["ev"] == 3.5].groupby("metric").describe()["score"][["mean", "std"]]

                 mean       std
metric
perceptual   0.072792  0.031653
psnr        22.294504  3.387691
rmse         0.159946  0.086503
ssim         0.930346  0.056154

In [20]:
df.loc[df["ev"] == 3.5].groupby("metric").describe()["score"][["mean", "std"]].to_latex(figdir / "fixed_choice.tex")

In [21]:
cdf = pd.read_csv(ROOT_DIR/"precomputed_data"/"store_updown_2020-10-18.csv")
cdf

                           name      metric  ev      score
0      0030_20151008_105249_589        rmse   1   0.324268
1      0030_20151008_105249_589        psnr   1  14.432278
2      0030_20151008_105249_589        ssim   1   0.776474
3      0030_20151008_105249_589  perceptual   1   0.115871
4      0030_20151008_105249_589        rmse   2   0.219723
...                         ...         ...  ..        ...
14475  0043_20160923_122514_781  perceptual   4   0.093679
14476  0043_20160923_122514_781        rmse   5   0.242144
14477  0043_20160923_122514_781        psnr   5  16.832917
14478  0043_20160923_122514_781        ssim   5   0.916466
14479  0043_20160923_122514_781  perceptual   5   0.111127

[14480 rows x 4 columns]

In [26]:
cidxmins = (
    cdf[(cdf["metric"] == "perceptual") | (cdf["metric"]  == "rmse")]
    .groupby(["name", "metric"])["score"]
    .idxmin()
)
cbest_scores_min = cdf.loc[cidxmins]
cbest_scores_min
#this is the minimum score for each metric for each image
# unfortunately we want min for mse and perceptual
# and maxes for psnr, ssim

                           name      metric  ev     score
5247   0006_20160721_170707_736  perceptual   2  0.022664
5244   0006_20160721_170707_736        rmse   2  0.051640
8011   0006_20160721_175239_909  perceptual   3  0.050130
8012   0006_20160721_175239_909        rmse   4  0.097257
10531  0006_20160721_181525_062  perceptual   3  0.046524
...                         ...         ...  ..       ...
11452  c483_20150901_195108_436        rmse   4  0.088462
1627   c483_20150901_214630_530  perceptual   2  0.050401
1628   c483_20150901_214630_530        rmse   3  0.107667
1671   c483_20150901_221141_886  perceptual   3  0.080823
1672   c483_20150901_221141_886        rmse   4  0.115836

[1448 rows x 4 columns]

In [27]:
cidxmaxs = (
    cdf[(cdf["metric"] == "psnr") | (cdf["metric"] == "ssim")]
    .groupby(["name", "metric"])["score"]
    .idxmax()
)
cbest_scores_max = cdf.loc[cidxmaxs]
cbest_scores_max

                           name metric  ev      score
5245   0006_20160721_170707_736   psnr   2  30.304703
5246   0006_20160721_170707_736   ssim   2   0.986383
8013   0006_20160721_175239_909   psnr   4  24.966145
8010   0006_20160721_175239_909   ssim   3   0.960034
10533  0006_20160721_181525_062   psnr   4  25.087770
...                         ...    ...  ..        ...
11454  c483_20150901_195108_436   ssim   4   0.972137
1629   c483_20150901_214630_530   psnr   3  24.083572
1630   c483_20150901_214630_530   ssim   3   0.953998
1673   c483_20150901_221141_886   psnr   4  23.613587
1670   c483_20150901_221141_886   ssim   3   0.924134

[1448 rows x 4 columns]

In [29]:
cmin = cbest_scores_min.groupby("metric").describe()["score"][["mean", "std"]]
cmax = cbest_scores_max.groupby("metric").describe()["score"][["mean", "std"]]
pd.concat([cmin,cmax])

                 mean       std
metric
perceptual   0.045031  0.017679
rmse         0.100255  0.038767
psnr        25.883149  2.984497
ssim         0.962340  0.019074

In [40]:
cdf.groupby(["ev", "metric"]).describe()["score"][["mean", "std"]].to_latex(figdir/"conv_choice.tex")
cdf.groupby(["ev", "metric"]).describe()["score"][["mean", "std"]]

                    mean       std
ev metric
1  perceptual   0.199319  0.133344
   psnr        14.373488  4.626837
   rmse         0.415388  0.222175
   ssim         0.658184  0.263431
2  perceptual   0.120093  0.086524
   psnr        18.246571  6.062991
   rmse         0.295450  0.198601
   ssim         0.779540  0.205470
3  perceptual   0.075610  0.033702
   psnr        21.438571  4.717609
   rmse         0.193366  0.131104
   ssim         0.886411  0.110472
4  perceptual   0.067256  0.027250
   psnr        23.136557  3.147054
   rmse         0.138042  0.055359
   ssim         0.941384  0.030754
5  perceptual   0.093329  0.042967
   psnr        21.010614  4.344911
   rmse         0.178393  0.078236
   ssim         0.918467  0.048767